/* FOOTER */
.rodape{
    position: relative;
    width: 517px;
    height: 85px;
    background-color: #BCF7FF;
    display: flex;
}

.rodape section{
    width: 33%;
}

#rodape__logo img{
    position: relative;
    width: 36px;
    height: 100%;
    object-fit: contain;
    margin:  0 0 0 20px;
}

#rodape__2{
    padding: 15px 0 0 25px;
    box-sizing: border-box;
}

#rodape__2 a{
    text-decoration: none;
}

#rodape__3{
    text-align: right;
    padding: 15px 20px 0 0;
}

#rodape__3 img{
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
}