/* TOP */
.top{
    position: relative;
    width: 517px;
    height: 53px;
    background-color: #BCF7FF;
    margin:0;
}

#logo{
    position: relative;
    width: 59px;
    height: 100%;
    object-fit: contain;
    margin:  0 160px 0 0;
}

.top__menu{
    width: 517px;
    height: 53px;
    margin: 0;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.top__menu a{
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
    width: auto;
    height: 20px;
    margin: 0 25px 0 0;
}

#top__menu__sair{
    padding: 5px;
    background-color: #8FF2FF;
    border-radius: 5px;
}